*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #011F3F;
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-size: 1.8rem;
  margin: 3.12rem 0 3.12rem 0;
  color: #FEF2BF;
}

p{
  color:#FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 1.5rem;
  display: inline-block;
  height: 11.25rem;
  width: 11.25rem;
  border: 10px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
